<div class="div__error mt-3">
  <div th:if="${error != null}" class="msj msj__error" >
      <div class="card__error">
          <h5 class="error-title">Error 👎</h5>
          <p class="error-text" th:text="${error}"></p>
          <p class="error-text" th:text="${detalle}"></p>
      </div>
  </div>
  <div th:if="${exito != null}" class="msj msj__exito" >
      <div class="card__error">
          <h5 class="error-title">Exito!</h5>
          <p class="error-text" th:text="${exito}"></p>
      </div>
  </div>
</div>