<footer class="bg-dark text-light text-center py-3">
    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <div><img src="/img/logo-barrios-cerrados-1.jpg" alt="Logo"
                style="width: 5vw; margin-left:10px; margin-right:10px;"> ©️ BarriosCerrados Ltd. 2024</div>
        <div style="margin-right: 10px;">
            <ul class="socials">
                <li id="face"><i class="ri-facebook-fill"></i></li>
                <li id="tw"><i class="ri-twitter-fill"></i></li>
                <li><i class="ri-instagram-line"></i></li>
                <li><i class="ri-whatsapp-line"></i></li>
            </ul>
            <div><strong>Contacto:</strong>
                <p>011 0000 0001</p>
                <p></p>
            </div>
        </div>
    </div>
</footer>