<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/img/logo-barrios-cerrados-1.jpg" alt="Logo" style="width: 60px;">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" th:if="${session.usuariosession == null}">
            <ul class="navbar-nav ms-auto me-4 mb-1 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link navbarDropdown"  href="/registrar" role="button" aria-expanded="false">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbarDropdown" href="/login" role="button" aria-expanded="false">Login</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" th:if="${session.usuariosession != null}">
            <ul class="navbar-nav ms-auto me-4 mb-1 mb-lg-0">
                <form class="d-flex" role="search" style="display: flex; align-items: center;" th:action="@{/usuario/expositor}" method="get">
                    <div type="hidden" th:if="${rolSession == 'CLIENTE'}">
                        <input type="hidden" th:value="'CLIENTE'" id="rolSession" name="rolSession">
                    </div>

                    <div type="hidden" th:if="${rolSession == 'PROVEEDOR'}">
                        <input type="hidden" th:value="'PROVEEDOR'" id="rolSession" name="rolSession">
                    </div>
                    
                    <button id="filtro" type="button" class="btn btn-secondary" style="margin-right: 5px; ">Filtro</button>
                    <input class="form-control me-2" type="search" name="nombreUsuario" placeholder="Nombre Completo" th:value="${nombreUsuario}">
                    <button class="btn btn-outline-success" type="submit" style="display:flex; flex-direction:row;">
                        <i class="fas fa-search icono-lupa"></i>
                    </button>
                </form>
                <!-- ! Filtro -->
                <div id="detalles-filtro" class="list-group" style="height: 0; overflow: hidden;">
                    <form id="Formulario-filtro" th:action="@{/usuario/expositor}" method="get">
                        <div class="list-group-item">
                            <label for="barrio">Seleccione Barrio:</label>
                            <select name="barrio" class="form-control">
                                <option th:value="todos">Todos</option>
                                <option th:value="BARRIO1Ruta2km69">Ruta 2 km 69</option>
                                <option th:value="BARRIO2Ruta2km75">Ruta 2 km 75</option>
                                <option th:value="BARRIO3Ruta13km86">Ruta 13 km 86</option>
                                <option th:value="ninguno">Ninguno</option>
                            </select>
                        </div>
                    
                        <div class="list-group-item" th:if="${rolSession == 'CLIENTE'}">
                            <input type="hidden" th:value="'CLIENTE'" id="rolSession" name="rolSession">
                    
                            <label for="servicioId">Seleccione Servicio:</label>
                            <select class="form-control" name="idServicio" id="idServicio">
                                <option value="" disabled selected>Seleccione un servicio</option>
                                <optgroup label="Servicios de limpieza">
                                    <option th:each="servicio : ${limpieza}" th:value="${servicio.id}" th:text="${servicio.nombre}"></option>
                                </optgroup>
                                <optgroup label="Servicios de mantenimiento y reparaciones">
                                    <option th:each="servicio : ${mantenimiento}" th:value="${servicio.id}" th:text="${servicio.nombre}"></option>
                                </optgroup>
                                <optgroup label="Servicios de seguridad">
                                    <option class="opcion" th:each="servicio : ${seguridad}" th:value="${servicio.id}" th:text="${servicio.nombre}"></option>
                                </optgroup>
                                <optgroup label="Servicios de tecnología y conectividad">
                                    <option class="opcion" th:each="servicio : ${tecnologia}" th:value="${servicio.id}" th:text="${servicio.nombre}"></option>
                                </optgroup>
                                <optgroup label="Servicios de cuidado personal y bienestar">
                                    <option class="opcion" th:each="servicio : ${cuidado}" th:value="${servicio.id}" th:text="${servicio.nombre}"></option>
                                </optgroup>
                                <optgroup label="Servicios de entrega y logística">
                                    <option class="opcion" th:each="servicio : ${logistica}" th:value="${servicio.id}" th:text="${servicio.nombre}"></option>
                                </optgroup>
                            </select>
                            <br>

                            <label for="nombreUsuario">Busque por el nombre al Proveedor:</label>
                            <input type="text" class="form-control" name="nombreUsuario" placeholder="Nombre Completo" th:value="${nombreUsuario}">
                            <br>
                        </div>

                        <div class="list-group-item" th:if="${rolSession == 'PROVEEDOR'}">

                            <input type="hidden" th:value="'PROVEEDOR'" id="rolSession" name="rolSession"> 

                            <label for="idPedido">¿Qué Pedidos tiene Vigente?</label>
                            <select class="form-control" name="idPedido" id="idPedido">
                                <option value="" disabled selected>Seleccione un pedido</option>

                                <optgroup label="Pedidos Vigentes">
                                    <option class="opcion" th:each="pedido : ${pedidos}"
                                        th:value="${pedido.id}"
                                        th:text="${pedido.servicio.nombre}+ ' - '${pedido.cliente.usuario.nombre}">
                                        <span></span>
                                    </option>
                                </optgroup>
                            </select>
                            <br>

                            <label for="nombreUsuario">Busque por el nombre al Cliente:</label>
                            <input type="text" class="form-control" name="nombreUsuario" placeholder="Nombre Completo" th:value="${nombreUsuario}">
                            <br>
                        </div>
                            
                        <button id="buscar" class="btn btn-primary" type="submit">Buscar</button>
                    </form>
                </div>

                <li class="nav-item">
                    <a id="mensajes" class="nav-link">
                        <div class="notification-bell">
                            <img src="/img/mensaje-icono.png"
                            style="border-radius: 10px; width: 30px; height:30px; margin-left:5px; margin-right:5px;" alt="">
                            <span class="notification-count" th:text="${mensajeNoVisto}"></span>
                        </div>
                    </a>
                    <div id="noti-mensajes">
                        <ul class="list-group"th:each="mensaje : ${mensajes}">
                            <li class="list-group-item" style="border: 1px solid whitesmoke;" th:text="${mensaje.remitente}"></li>
                            <a class="nav-link navbarDropdown" th:href="@{/mensajeria/bandejaMensajes/__${mensaje.id}__}">Ver mensaje</a>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a id="campana" class="nav-link">
                        <div class="notification-bell">
                            <img src="/img/campana.jpg" style="border-radius: 10px; width: 30px; height:30px;" alt="">
                            <span class="notification-count" th:text="${notificacionNoVisto}"></span>
                        </div>
                    </a>

                    <div id="notification">
                        <ul class="list-group" th:each="notificacion : ${notificaciones}">
                            <span th:each="nota : ${notas}">
                            <li class="list-group-item" style="border: 1px solid whitesmoke;" th:text="${nota}"></li>
                            <a class="nav-link navbarDropdown" th:href="@{/mensajeria/bandejaNotificaciones/__${notificacion.id}__}">Ver detalle</a>
                            </span> 
                        </ul>
                    </div>
                </li>

                <li style="display: flex; flex-direction:row; align-items:center;" class="nav-item">
                    <a id="usuario" class="nav-link active" style="display: flex; flex-direction:row; align-items:center;"
                    href="#">
                    Usuario
                    <img id="imagen_usuario" src="/img/icono-usuario.jpg" alt=""
                        style="border-radius: 20px; width: 30px; height:30px; margin-left:7px;">
                    </a>
                </li>

                <div id="detalles-usuario">
                    <ul class="list-group">
                        <li class="list-group-item"><button type="button" class="btn btn-info">Ver más Info</button></li>
                        <li class="list-group-item">
                            <a class="nav-link navbarDropdown"  href="/perfil" role="button" aria-expanded="false">
                                <button type="button" class="btn btn-info">Editar info Personal</button>
                            </a>
                        </li>
                        <li class="list-group-item">                      
                            <button type="button" class="btn btn-danger">
                            <a class="nav-link navbarDropdown" th:href="@{/logout}">Cerrar Sesión</a>
                            </button>                        
                        </li>
                    </ul>
                </div>              
            </ul>
        </div>
    </div>
</nav>