body {
    font-family: Arial, sans-serif;
    background-image: url('fondo-pagina-o-mantenimiento.jpg'); 
    background-size: cover; 
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(153, 153, 153, 0.5); /* Ajusta la transparencia con el valor alpha (0.5 en este caso) */
    z-index: -1; /* Coloca la superposición detrás del contenido */
}


h1 {
    color: #2c3e50;
}

.navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.container {
    padding-top: 100px;
}

#containerRegistro {
    min-height: 1000px;
}

#map {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

.list-group{
    background: #202429;
    border: 1px solid #202429;
}
.list-group-item{
    background: #202429;
    border: 1px solid #202429;
    color: whitesmoke;
}

#detalles-usuario {
    position: absolute;
    background: #202429;
    border: 1px solid #202429;
    border-radius: 5px;
    width: 150px;
    top: 80px;
    right: 1px;
    height: 0px;
    overflow: hidden; /* Deshabilitar interacción */
    transition: height 0.3s ease, pointer-events 0s 0.3s; /* Añadir transición para la altura */
}

#detalles-usuario.show {
    height: auto;
    pointer-events: auto; /* Habilitar interacción */
}

#notification {
    position: absolute;
    background: #202429;
    border: 1px solid #202429;
    border-radius: 5px;
    width: 230px;
    top: 80px;
    right: 3px;
    height: 0px;
    overflow: hidden;
    pointer-events: none; /* Deshabilitar interacción */
    transition: height 0.3s ease, pointer-events 0s 0.3s; /* Añadir transición para la altura */
}

#notification.show {
    height: auto;
    pointer-events: auto; /* Habilitar interacción */
}

#noti-mensajes {
    position: absolute;
    background: #202429;
    border: 1px solid #202429;
    border-radius: 5px;
    width: 150px;
    top: 80px;
    right: 130px;
    height: 0px;
    overflow: hidden;
    pointer-events: none; /* Deshabilitar interacción */
    transition: height 0.3s ease, pointer-events 0s 0.3s; /* Añadir transición para la altura */
}

#noti-mensajes.show {
    height: auto;
    pointer-events: auto; /* Habilitar interacción */
}



/*Contador de notificaciones*/
.notification-bell {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .notification-bell i {
    font-size: 24px;
    color: #333;
  }
  
  .notification-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #000;
    color: #ccc;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
  }

/*Chat mensajes*/
#detalles-proveedor {
    position: absolute;
    display: flex;
    align-items: center;
    background: #333;
    border: 1px solid #333;
    width: 598px;
    top: 94px;
    right: 0;
    height: 0px;
    overflow: hidden; /* Deshabilitar interacción */
    transition: height 0.3s ease, pointer-events 0s 0.3s; /* Añadir transición para la altura */
}

#detalles-proveedor.show {
    height: auto;
    pointer-events: auto; /* Habilitar interacción */
}

.mensaje-container {
    position: fixed;
    display: none;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    background-color: #333; /* Fondo gris oscuro */
    border: 1px solid #666; /* Borde gris */
    margin: 0 auto;
    right: 5px;
    z-index: 1000;
    color: white; /* Texto blanco */
}

.mensaje-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444; /* Fondo gris medio */
    padding: 5px 10px;
    border-bottom: 1px solid #666;
    color: white; /* Texto blanco */
}

.mensaje-header .controls {
    display: flex;
    gap: 10px;
}

.mensaje-header .controls .icon {
    cursor: pointer;
    color: white; /* Texto blanco */
}

.mensaje-user {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #666;
    color: white; /* Texto blanco */
}

.mensaje-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.mensaje-content {
    height: 200px;
    overflow-y: auto;
    padding: 10px;
    background-color: #222; /* Fondo gris muy oscuro */
    color: white; /* Texto blanco */
}

.mensaje-content .mensaje {
    margin: 5px 0;
    display: flex;
    color: white; /* Texto blanco */
}

.mensaje-content .mensaje .texto {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    color: white; /* Texto blanco */
}

.mensaje-content .mensaje.usuario {
    justify-content: flex-end;
}

.mensaje-content .mensaje.usuario .texto {
    background-color: #555; /* Fondo gris medio-claro */
}

.mensaje-content .mensaje.destinatario .texto {
    background-color: #666; /* Fondo gris claro */
}

.mensaje-form {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #666;
    background-color: #333; /* Fondo gris oscuro */
    color: white; /* Texto blanco */
}

.mensaje-form input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 20px;
    margin-right: 10px;
    background-color: #444; /* Fondo gris medio */
    color: white; /* Texto blanco */
}

.mensaje-form input[type="file"] {
    display: none;
}

.mensaje-form .upload-label {
    cursor: pointer;
    margin-right: 10px;
    color: white; /* Texto blanco */
}

.mensaje-form .send {
    padding: 10px 15px;
    background-color: #007bff;
    color: white; /* Texto blanco */
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Estilos para la vista previa de imágenes */
.preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #222; /* Fondo gris muy oscuro */
}

.preview-image {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
}

.preview-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-image .close-preview {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el visor de imágenes a pantalla completa */
.image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.image-viewer img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.image-viewer .close-viewer,
.image-viewer .download-link {
    position: absolute;
    top: 20px;
    font-size: 18px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.image-viewer .close-viewer {
    right: 20px;
}

.image-viewer .download-link {
    right: 100px;
}
/* Estilos para las imágenes en los mensajes */
.message-image {
    max-width: 100%;
    max-height: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #222; /* Fondo gris muy oscuro */
}

.preview-image {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
}

.preview-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-image .close-preview {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el visor de imágenes a pantalla completa */
.image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.image-viewer img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.image-viewer .close-viewer,
.image-viewer .download-link {
    position: absolute;
    top: 20px;
    font-size: 18px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.image-viewer .close-viewer {
    right: 20px;
}

.image-viewer .download-link {
    right: 100px;
}


/*Reportar*/
.report-container {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.report-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.report-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.report-header h2 {
    margin: 0;
}

.report-header .close {
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group textarea,
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    background: #444;
    border: 1px solid #555;
    color: white;
    border-radius: 5px;
}

.send-btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}


/* Buscador */
.buscadorRow {
    height: 500px;
    overflow: visible;
}

.buscadorRow .card {
    width: 100%;
    height: 100%;
    overflow: visible;
}

#searchForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#searchForm label {
    font-weight: bold;
}

#searchForm select, #searchForm button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#searchForm button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchForm button:hover {
    background-color: #0056b3;
}

.botonBuscador {
    margin-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

#detalles-filtro {
    position: absolute;
    background: #202429;
    border: 1px solid #202429;
    border-radius: 5px;
    width: 300px; /* Ajusta el ancho según sea necesario */
    top: 80px;
    right: 10px;
    height: 0;
    overflow: hidden;
    pointer-events: none; /* Deshabilitar interacción */
    transition: height 0.3s ease, pointer-events 0s 0.3s; /* Transición para la altura y eventos de puntero */
}

#detalles-filtro.show {
    height: auto;
    pointer-events: auto; /* Habilitar interacción al mostrar */
}

#buscar {
    display: block;
    margin: 5px auto;
}





